<launch>
    
    <node pkg="nodelet" type="nodelet" name="points_xyzrgb_lowres"
          args="load depth_image_proc/point_cloud_xyzrgb"
          respawn="false">
      <!-- Explicit topic remappings, shouldn't need all of these -->
      <remap from="rgb/camera_info"             to="/camera/color/camera_info" />
      <remap from="rgb/image_rect_color"             to="/camera/color/image_raw" />
      <remap from="depth_registered/image_rect" to="/camera/depth/image_rect_raw" />
      <!--remap from="depth_registered/points"     to="/camera/depth_lowres/points" /-->
    </node>
<!--
    <node pkg="nodelet" type="nodelet" name="points_xyzrgb_highres"
          args="load depth_image_proc/point_cloud_xyzrgb "
          respawn="false">
      Explicit topic remappings, shouldn't need all of these 
      <remap from="rgb/camera_info"             to="/camera/color/camera_info" />
      <remap from="rgb/image_rect_color"             to="/camera/color/image" />
      <remap from="depth_registered/image_rect" to="/camera/depth_highres/image" />
      <remap from="depth_registered/points"     to="/camera/depth_highres/points" /> -->
    </node>
</launch>